/* Normal styles for the modal */
#modal, #confirm {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the modal appear when targeted */
	#modal:target, #confirm:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}
#modal .header,#modal .footer,#confirm .header,#confirm .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
	#modal .footer,#confirm .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 5px 5px;
	}
#modal h2, #confirm h2 {
	margin:0;
}
#modal .btn, #confirm .btn {
	float:right;
}
#modal .copy,#modal .header, #modal .footer,
#confirm .copy,#confirm .header, #confirm .footer {
	padding:15px;
}
.modal-content, .confirm-content {
	background: #f7f7f7;
	position: relative;
	z-index: 20;
	border-radius:5px;
}
#modal .copy, #confirm .copy {
	background: #fff;
}

#modal .overlay, #confirm .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

@media only screen and (max-width: 359px) {
	#modal:target, #confirm:target {
    opacity: 1;
    top: 100%;
    visibility: visible;
	}
}
@media only screen and (max-width: 580px) {
	#modal:target, #confirm:target {
    opacity: 1;
    top: 80%;
    visibility: visible;
	}
	.modal-content, .confirm-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    right: 3%;
	}
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
	#modal:target, #confirm:target {
    opacity: 1;
    top: 75%;
    visibility: visible;
	}
	.modal-content, .confirm-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    right: 3%;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1000px ) {
	#modal:target, #confirm:target {
    opacity: 1;
    top: 70%;
    visibility: visible;
	}
	.modal-content, .confirm-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    right: 3%;
	}
}