html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
  font-style: normal;
  word-break: break-word
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Prosto One', cursive;
  color: rgb(68, 66, 66)
}
body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
label {
  font-weight: bold;
}
footer {
  background-color: rgb(40, 140, 164);
  background-color: rgba(40, 140, 164, 1);
  color: white;
  padding: 16px 8px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  position: fixed;
  margin-top: 5%;
  bottom: 0;
  left: 0;
}
.sort-panel {
  display: flex;
  justify-content: space-between;
  width: 98%;
  background: grey;
  padding: 2px;
}
span {
  font-style: italic;
}
.request-details {
  left: 1%
}
a:active, a:hover, a:link {
  text-decoration: none;
  color: white;
}
.red-text {
  color: red;
  font-style: italic;
}
.ssm-font {
 margin: 10px 10px;
 font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
  justify-content: flex-start;
}

.content-container > div {
  padding: 10px;
  text-align: center;
  line-height: 20px;
}
.center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2%
}
.curved-border {
  border: 2px solid #4cb2d1e8;
  border-radius: 20px;
  background: white;
  width: 220px;
  height: 150px;
}
.nav-bar {
  overflow: hidden;
  background-color: rgb(40, 140, 164);
  background-color: rgba(40, 140, 164, 1);
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
select{
  height: 30px;
  background: #D8DDDE;
  border-radius: 5px
 }

.nav-bar a:hover:not(:first-child) {
  color: black;
}
.nav-bar .nav-icon{
  display: none;
}
.user {
  font-size: 16px
}
.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
}

.next {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
}
.next:hover, .previous:hover {
  background-color: rgb(40, 140, 164);
  background-color: rgba(40, 140, 164, 1);
  color: white;
}
.round {
  border-radius: 50%;
}
.page {
  margin: auto 0;
}
.nav-bar a:not(:first-child) {float: right;}

.align-horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%
}
.active, .toggle:hover{
  background-color: #555;
}
.float-left {
  float:left;
  margin-bottom: 3%;
}
.expand{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  margin: 3% auto;
}

.activate:after, .active:after {
  content: "\2303";
}

.open {
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.circular-image {
  width: 250px;
  padding: 8px;
}
.icon-image {
  width: 200px;
  height: 150px;
}
figcaption {
  padding-top: 1%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(68, 66, 66)
}
.access-button {
  display: flex;
  justify-content: flex-end;
  padding: 3%;
  margin-bottom: 5px
}
.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: rgb(19, 136, 172);
  background-color: rgba(19, 136, 172, 1);
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 15px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
}
.btn:hover {
  background:linear-gradient(to bottom, blue 5%, #30C9C9 100%);
  background-color:rgb(52, 202, 202);
  background-color:rgba(52, 202, 202, 1);
  color: #FFFFFF;
}

.min-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1% auto;
}
.sort {
  display: flex;
  background:#D8DDDE;
  justify-content: space-between;
  overflow: hidden;
  width: 96%;
  margin: 0.5% auto;
  padding: 0 2%;
  border-radius: 8px;
}

/* Style the buttons inside the tab */
.sort button {
  background-color: inherit;
  float: left;
  border: 2px solid #56a6bfe8;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-bottom: 5%;
}

.sort-btn {
  background-color:  rgb(19, 136, 172);
  background-color:  rgba(19, 136, 172, 1);
  float: left;
  border: 2px solid #56a6bfe8;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}
.sortlinks:hover{
  color: white
}
.sort-btn:hover {
  background:linear-gradient(to bottom, blue 5%, #30C9C9 100%);
  background-color:#34CACA;
  color: white;
}
/* Change background color of buttons on hover */
.sort button:hover {
  background:linear-gradient(to bottom, blue 5%, #30C9C9 100%);
  background-color:rgb(52, 202, 202);
  background-color:rgba(52, 202, 202, 1);
}

/* Create an active/current tablink class */
.sort button.active {
  background-color: rgb(19, 136, 172);
  background-color: rgba(19, 136, 172, 1);
  color: white;
}
/* Style the tab content */
.sort-content {
  background: inherit;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.sort-default {
  background: inherit;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.content-border {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% auto;
  border: 1px double #56a6bfe8;
  border-radius: 10px;
  background: ghostwhite;
  padding: 2%;
}
.center-align {
  margin: 5px auto;
}
@media only screen and (max-width: 360px) {
  select{
    font-size: 10px;
    height: 30px;
    background: #D8DDDE;
    border-radius: 5px
   }
 .page {
   margin: 1% auto;
 }
  p {
    font-size: 0.5em;
    font-weight: bold
  }
  footer {
    padding: 8px 4px;
    font-size: 12px;
  }
  .sort {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sort button {
    background-color: inherit;
    float: left;
    border: 1px solid #56a6bfe8;
    outline: none;
    cursor: pointer;
    padding: 7px 4px;
    transition: 0.3s;
    font-size: 8px;
  }
  .sort-btn {
    background-color:  #1388ace8;
    float: left;
    border: 2px solid #56a6bfe8;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
    font-size: 10px;
    margin: 0.5%;
    color: white;
  }
  .curved-border {
    width: 200px;
  }
  .content-border {
    display: flex;
    flex-direction: column;
  }
  .btn {
    font-size: 12px;
    padding: 7px 9px;
  }
  .ssm-font {
    text-align: center;
    margin: 2px;
  }

  .center-align {
    margin: 5px auto;
  }
  .access-button {
    display: flex;
    justify-content: center;
    padding: 3%;
  }
  .btn-login {
    font-size: 12px;
    padding: 10px 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 10px;
  }
  .nav-bar a:not(:first-child) {display: none;}
  .nav-bar a.nav-icon {
    float: right;
    display: block;
  }
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive .nav-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .circular-image {
      padding: 2%;
      margin-bottom: 3%;
    }
    .curved-border {
      border: 2px solid #3333ff;
      border-radius: 20px;
      background: white;
      padding: 8px;
      margin: 3%;
      width: 200px;
    }

    .icon-image {
      width: 100px;
      height: 90px;
    }
    figcaption {
      padding-top: 2%;
      text-align: left;
      font-size: 1.2em      
    }
    .content-container {
      margin-left: 2%
    }
    .content-container > div {
      margin: 0 auto;
    }
}
@media only screen and (max-width: 900px) and (min-width: 361px){
  body {
    background-size: 100% 100%;
  }
  .ssm-font {
    margin: 3px;
  }
  footer {
    padding: 8px 4px;
    font-size: 12px;
    position: relative;
  }
  .sort-btn {
    float: left;
    border: 2px solid #56a6bfe8;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 14px;
    margin: 1%;
    color: white;
  }
  .btn {
    font-size: 12px;
    padding: 10px 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 12px;
  }
  .nav-bar a:not(:first-child) {display: none;}
  .nav-bar a.nav-icon {
    float: right;
    display: block;
  }
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive .nav-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .circular-image {
      padding: 2%;
      margin-bottom: 3%;
    }
    .curved-border {
      border: 2px solid #3333ff;
      border-radius: 20px;
      background: white;
      padding: 8px;
      margin: 3%;
      width: 200px;
    }

    .icon-image {
      width: 100px;
      height: 90px;
    }
    figcaption {
      padding-top: 2%;
      text-align: left;
      font-size: 1.2em      
    }
    .sort button {
      background-color: inherit;
      float: left;
      border: 1px solid #56a6bfe8;
      outline: none;
      cursor: pointer;
      padding: 7px 5px;
      transition: 0.3s;
      font-size: 10px;
    }
    .access-button {
      display: flex;
      justify-content: center;
      padding: 3%;
    }
    .content-container {
      margin-left: 2%
    }
    footer {
      padding: 8px 4px;
      font-size: 12px;
    }
    .content-container > div {
      margin: 0 auto;
    }
}